body{
font-family:Arial;
margin:0;
background:#faf7f2;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#111;
color:white;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px;
background:linear-gradient(#111,#444);
color:white;
}

.btn{
background:gold;
padding:10px 20px;
text-decoration:none;
color:black;
}

.products,.home-products{
text-align:center;
padding:50px;
}

.product{
border:1px solid #ddd;
padding:20px;
margin:20px;
display:inline-block;
width:200px;
}

.product-page{
text-align:center;
padding:80px;
}

button{
padding:10px;
background:black;
color:white;
border:none;
cursor:pointer;
}