body{
font-family:Arial;
margin:0;
background:#fafafa;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
color:white;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px;
background:linear-gradient(to right,#0f2027,#203a43,#2c5364);
color:white;
}

.btn{
padding:12px 25px;
background:gold;
border:none;
cursor:pointer;
}

.products{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
}

.product{
border:1px solid #ddd;
padding:20px;
text-align:center;
}

.title{
text-align:center;
margin-top:40px;
}
